[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=KKTerminalQT
Comment=
Terminal=false
Type=Application
Categories=Utility;
Icon=KKTerminalQT.png
Exec=kkterminalqt
